<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/imgs/logo-02.png">

    <title>tripsift</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
	
	<style>
	body { 
		padding-top: 0px; 
		background: url("../../static/imgs/palms_faded.jpg");  
		background-size: cover; 
	}
	.text_spaced {
		line-height: 1.5;
	}
	</style>
</head>

<br><br>

<body>.
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="../static/imgs/logo-01.png" style="height:26px"></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/"><b>Home</b></a></li>
            <li><a href="/slides"><b>Slides</b></a></li>
            <li class="active"><a href="/about"><b>About</b></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
		<div class="row"><br></div>
		<div class="row">
			<div class="col-md-3">
				<br><img src='../static/imgs/logo-01.png' height=60px>
			</div>
			<div class="col-md-9">
				<h4 class="text_spaced">tripsift was born out of my experiences planning a vacation to the Big Island of Hawaii. By reading through ~400 reviews, I selected the 
				Mauni Lani Bay Hotel & Bungalows. While my experiences there did not disappoint, I had no desire to painstakingly read hundreds of reviews each time I planned 
				a vacation. tripsift was thus brought to fruition during the Insight Data Science program. Please refer to the 
				<a href="/slides">slides</a> and my <a href="https://github.com/gwtang/ target="_blank"">github</a> for additional information.</h4>
			</div>
		</div>
		<div class="row"><br></div>
		<div class="row">
			<div class="col-md-3">
				<br><img src='../static/imgs/FragFEATURE_logo.png' height=130px>
			</div>
			<div class="col-md-9">
				<h4 class="text_spaced">FragFEATURE is a data-driven approach to predicting small molecule fragments that will bind a protein structure of interest. There are two parts to the project: 
				<br>(1) the knowledge base contains all known protein-fragment interactions from the Protein Data Bank 
				<br>(2) the method uses the knowledge base to make fragment predictions given an input structure. 
				<br>Each fragment prediction yielded by the method is accompanied by all supporting pieces of information from the knowledge base to facilitate user interpretation of the results.
				<br><br>Publication: <a href="http://www.ploscompbiol.org/article/info%3Adoi%2F10.1371%2Fjournal.pcbi.1003589" target="_blank">Knowledge-based Fragment Binding Prediction</a></h4>
			</div>
		<div class="row"><h4>Find out more about me on <a href="https://www.linkedin.com/in/gwtang">LinkedIn</a></h4></div>
		</div>
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>
</body>
</html>

